/*-------------------------------------------
 Common
 -------------------------------------------*/
.stratum-hidden {
	display: none;
}

.stratum-no-float {
	float: none;
}

.stratum-right {
	float: right;
}

.stratum-left {
	float: left;
}

.stratum-clear {
	clear: both;
}

.stratum-full {
	width: 100%;
}

.stratum-half {
	width: 48.5%;
}

.stratum-clearfix {
	*zoom: 1;
}

.stratum-clearfix:before,
.stratum-clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}



.stratum-clearfix:after {
	clear: both;
}

.stratum-flat li {
	float: left;
}

.stratum-flat.pad-left li {
	padding-left: 5px;
}

.stratum-flat.pad-right li {
	padding-right: 5px;
}

.stratum-center {
	margin: 0 auto;
}

.stratum-text-center {
	text-align: center;
}

.stratum-text-right {
	text-align: right;
}

.stratum-table {
	display: table;
}

.stratum-row {
	display: table-row;
	clear: both;
}

.stratum-cell {
	display: table-cell;
	padding: 2px;
	vertical-align: top;
}

.stratum-table .stratum-row .stratum-cell.stratum-key {
	padding-right: 20px;
	padding-top: 7px;
	vertical-align: top;
}

.stratum-table .stratum-row .stratum-cell.stratum-value {
	vertical-align: bottom;
}

.stratum-table .stratum-order {
	width: 200px;
}

.stratum-key {
	font-size: 120%;
	font-weight: bold;
	width: 200px;
}

p.stratum-tip {
	color: #525252;
	margin: 2px 0px 0px 0px;
	padding: 0px;
}

.stratum-small {
	font-size: 75%;
}

.stratum-large {
	font-size: 125%;
}

.stratum-grid-sort {
	padding-left: 3px;
}

.stratum-required {
	display: inline;
	width: 16px;
	height: 16px;
	background: url(../images/required_16.png);
}

.stratum-hidden, .stratum-content-left {
	position: absolute;
	left: -100000em;
	height: 1px;
	width: 1px;
	display: none;
}

#stratum-container .stratum-pad-none {
	padding: 0;
}

#stratum-container .stratum-margin-none {
	margin: 0;
}

#stratum-container .stratum-header::before, #stratum-container .stratum-header::after {
    content: "";
    display: table;
    line-height: 0;
}

#stratum-container .stratum-header::after {
    clear: both;
}


#stratum-container .stratum-header {
	background: none repeat scroll 0 0 #1e5d87;
    border: 0 none;   
    box-shadow: none;
    margin: 0;
    min-height: 50px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

#stratum-container h2.app-title {
    font-size: 26px;
    font-weight: normal;
}

#stratum-container .stratum-logo img.app-logo {
    height: 40px;
    padding: 10px 0;
    width: auto;
}

#stratum-container div.container-fluid div.container-inner {
	padding: 0 10px;
}

div.container-fluid {
   /* padding-left: 0;
    padding-right: 0;*/
}

#stratum-container div.stratum-main {
	background: none repeat scroll 0 0 #fcfcfc;
    padding: 12px 20px 24px;
    position: relative;
}

#stratum-container .app-header {
	border-bottom: 1px solid #eee;
}

#stratum-container .stratum-main .app-header:first-child {
    margin: 0 0 12px;
}

.stratum-admin-wrapper {
	position: relative;
}

#stratum-container .stratum-main {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}

/*-------------------------------------------
 Self-clearing Floats
 -------------------------------------------*/
.stratum-clear:after, .stratum-wrap:after, .stratum-flat:after {
	clear: both;
	content: '';
	height: 0;
	width: 0;
	visibility: hidden;
	display: block;
}

.stratum-clear, .stratum-wrap, .stratum-flat {
	zoom: 1;
}

/**
 * 	Button toolbar override
 */
#stratum-container #toolbar.btn-toolbar .btn{
	background: none repeat scroll 0 0 #F8F8F8 !important;
    border: 1px solid #DDDDDD !important;
    padding: 3px 12px !important;
    color: #000 !important;
}

#stratum-container #toolbar.btn-toolbar .btn:hover{
	background: none repeat scroll 0 0 #EEEEEE !important;
}

/* button success*/
#stratum-container #toolbar.btn-toolbar .btn.btn-success{
	background: none repeat scroll 0 0 #87B87F !important;
    border: 1px solid #87B87F !important;
    padding: 4px 12px !important;
    line-height: 21px !important;
    color: #fff !important;
}

#js-cpanel #toolbar.btn-toolbar .btn.btn-success:hover{
	background: none repeat scroll 0 0 #629B58 !important;
}

/*save button*/
#stratum-container #toolbar #toolbar-save .btn,
#stratum-container #toolbar-save .btn {
    background: none repeat scroll 0 0 #87B87F !important;
    border: 1px solid #87B87F !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
}
#stratum-container #toolbar #toolbar-save .btn:hover,
#stratum-container #toolbar-save .btn:hover{
	background: none repeat scroll 0 0 #629B58 !important;
}

/* button icons */
.icon-save:before, 
.icon-save-copy:before, 
.btn-toolbar .icon-copy:before{
	color: #fff !important;
}
.icon-publish:before{
	color: #359BED !important;
}

/* button exceptions*/
div#status{
	box-shadow: none !important;
}
.icon-delete:before{
	color: #BD362F !important;
}